<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Insert food</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stype.css">
</head>

<body>

<form method ="POST" >

    <p>Tên</p>
    <input name = "name" id = "name" type="text"  style = "width: 400px">
    <p>Calo</p>
    <input type="number" step="0.05" name="calo" id="Calo"  style = "width: 400px">
    <p>Protein</p>
    <input type="number" step="0.05" name="protein" id ="protein"  style = "width: 400px">
    <p>Fat</p>
    <input type="number" step="0.05" name="fat" id ="fat"  style = "width: 400px">
    <p>Mô tả</p>
    <input id = "desc" name = "desc" type="text"  style = "width: 400px">
    <p>Link ảnh</p>
    <input id = "link" name = "link" type ="text" style = "width: 400px">
    <p>Link youtype cách nấu</p>
    <input id = "recipt" name = "recipt" type ="text" placeholder = "https://www.youtube.com/watch?v=x8TGlCaEs_4"  style = "width: 400px">
    <div style="margin-top:20px;">
        <button type="submit">summit</button>
    </div>
</form>

</body>
</html>